/* PHASE 3: Layout */

.content {
    display: flex;
    background-color: blueviolet;
    margin: 0 auto;
    flex-wrap: wrap;
}

.content-sidebar {
    display: flex;
    min-height: 200px;
    width: 200px;
    padding: 20px;
    background-color: yellow;
}

.content-main {
    display: flex;
    min-height: 200px;
    width: 300px;
    padding: 20px;
    background-color: green;
}
